/* Variables y extras */
@import "bourbon/bourbon";

@import "content/varmixin";
$rojo: rgba(208,95,95,1);
$fondo: rgba(255,255,250,1);
$azul: rgba(102,175,181,1);
body{
    background: rgba(217,200,197,1);
}
#wrapper{
    width: 980px;
    margin: 0 auto;

    header, footer{
    	background: $fondo;
    	padding: 5px;
    	margin: 5px;
    }
    @import "content/header";
    @import "content/body";
}