header{
        @include display(flex);
        @include justify-content(space-between);

        h1, nav{
            @include align-self(flex-end);
        }
        h1{
            font-size: 45px;
            color: $rojo;
            margin: 15px 0 10px 10px;
        }
        nav{
            
            ul{
                list-style: none;

                li{
                    display: inline-block;

                    a{
                        display: inline-block;
                        color: white;
                        text-decoration: none;
                        background: $rojo;
                        padding: 5px;

                        &:hover{
                            background: $azul;
                        }
                    }
                }
            }
        }
    }